<div class="container mt-5">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" style="color: #FF0000;"><i class="fa fa-home" style="margin-right: 5px; color: #FF0000;"></i>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Youtube Video</li>
            </ol>
        </nav>
    </div>

    <div class="flash-messages-container">
        <% if (successMessage && successMessage.length > 0) { %>
            <div class="flash-messages mb-4">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= successMessage %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        <% } %>
    
        <% if (errorMessage && errorMessage.length > 0) { %>
            <div class="flash-messages mb-4">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= errorMessage %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        <% } %>
    </div>
    
    <div class="result-container">
        <!-- YouTube Shorts Result -->
        <div class="center-box">
            <h2 class="text-danger text-center">Watch YouTube video</h2>
            <div class="custom-line"></div>
    
            <% if (videoDetails && videoDetails.title) { %>
                <h3 id="video-title" class="mt-5"><%= videoDetails.title %></h3>
            <% } else { %>
                <p>Video title is not available</p>
            <% } %>
    
            <div class="video-embed-container my-4">
                <iframe
                    src="https://www.youtube.com/embed/<%= videoDetails.videoId %>"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
    
            <div class="video-info text-center mb-2">
                <p id="video-author">Author: <%= videoDetails.author || "Not available" %><span></span></p>
                <p id="video-length">Length: <%= videoDetails.lengthSeconds || "Not available" %><span></span> seconds</p>
                <p id="video-views">Views: <%= videoDetails.viewCount || "Not available" %><span></span></p>
            </div>
            <div class="text-center my-4">
                <a href="/yt-video/thumbnail?thumbnailUrl=<%= videoDetails.thumbnailUrl %>" id="fetch-thumbnail-btn" class="btn btn-custom btn-lg mt-2">Fetch Thumbnail</a>
            </div>      
            <p class="description text-center">Play your favorite YouTube Videos. Just click the play button!</p>
        </div>
    </div>
</div>